{
  "arrowParens": "avoid",
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"]
}
