@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	a,
	button {
		@apply transition;
	}

	.post-body > * {
		@apply mb-6 scroll-mt-6;
	}

	.post-body pre {
		@apply mb-6 text-sm;
	}

	.post-body pre[class*='language-']::-webkit-scrollbar {
		@apply hidden;
	}

	.fade-anim img {
		animation: fadeAnim 0.5s ease-out;
	}
	@keyframes fadeAnim {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
